<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}

	<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css"> 
	<link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400&family=Zen+Dots&display=swap" rel="stylesheet">


	{% block head %}
    {% endblock %}
</head>
<body>
	<header>
		<div class="logos">
			<div class="logo1">
				<a href="/">
				<h1>Movie Mate</h1>
				</a>
			</div>
			<img  src="{% static 'image/1.svg' %}" alt="123" class="logo2">
		 </div>
		<div class="nav_bar">
			<div class="nav_route">
				<a href="/">
					<h1>Home</h1>
				</a>
			</div>
			<div class="nav_route">
				<a href="/watched">
					<h1>Watched</h1>
				</a>
			</div>
			<div class="nav_route">
				<a href="/profile">
					<h1>Profile</h1>
				</a>
			</div>
			
		</div>
	</header>



	<main>
		{% block body %}
    	{% endblock %}
	</main>



	<footer>
		<div class="footer">

			
		</div>
	</footer>
</body>
</html>