<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}

	<link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

	{% block head %}
    {% endblock %}
</head>
<body>
	<header>
		<div class="headed">

			<div class="nav_bar">
				<div class="nav_route">
					<a href="/index">
						<h1>КАТАЛОГ</h1>
					</a>
				</div>
				<div class="nav_route">
					<a href="/profile">
						<h1>МАПА</h1>
					</a>
				</div>
				
			</div>
		</div>
	</header>



	<main>
		{% block body %}
    	{% endblock %}
	</main>



	<footer>
		<div class="footer">

			
		</div>
	</footer>
</body>
</html>