{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css"> 
<link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap" rel="stylesheet">
<title>Home</title>
{% endblock %}

{% block body %}

<div id="container">
    <h1>Movie recommendation system</h1>
    <h2>Do you want to get quick recommendations or go to registration and get personalized recommendations?</h2>

    <div class="buttons">
        <button id="quick-recommendations-button" class="button-28" onclick="startQuickRecommendations()">Quick recommendations</button>
        {% if user.is_authenticated %}
        <button id="personal-recommendations-button" class="button-28" onclick="startPersonalRecommendations()">Personal recommendations</button>
        {% else %}
        <button id="personal-recommendations-button" class="button-28"><a href="/profile">Personal recommendations</a></button>
        {% endif %}
    </div>
</div>

<div id="movie-container"></div>    

<div id="btt" >
    <form id="watched-form" method="POST" action="/add_user_movie/">
        {% csrf_token %}
        <input type="hidden" id="movieIdInput" name="movie_id" value="">
        
        <div class="rate" id="ratingInput">
            <input type="radio" id="star5" name="rating" value="5" />
            <label for="star5" title="5 stars">5 stars</label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label for="star4" title="4 stars">4 stars</label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label for="star3" title="3 stars">3 stars</label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label for="star2" title="2 stars">2 stars</label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label for="star1" title="1 stars">1 star</label>
        </div>
        
        <button type="submit" id="watched-button" class="button-28">Watched</button>
    </form>
    <button id="next-button" class="button-28">Next</button>
</div>

<div id="finale"> 
    <h1>The movies are over</h1>
    <h2> Found something interesting for you? <br> Or maybe you want to get personal recommendations?</h2>
    <button id="fin_button" class="button-28"><a href="/profile">Continue</a></button>
</div>

<div id="finale2">
    <h1>The movies are over</h1>
    <h2>Just click "Continue" and get personalized recommendations</h2>
    <button id="fin_button" class="button-28"><a href="/rec">Continue</a></button>
</div>

<script>
    const movieContainer = document.getElementById('movie-container');
    const nextButton = document.getElementById('next-button');
    const watchedButton = document.getElementById('watched-button');
    const ratingInput = document.getElementById('ratingInput');
    const finale = document.getElementById('finale');
    const finale2 = document.getElementById('finale2');
    const btt = document.getElementById('btt');
    const apiKey = '7f540cdc422c17adc3781b8227d0b71c';

    let currentIndex = 0;
    let popularMovies = [];
    let mode = '';

    function startQuickRecommendations() {
        mode = 'popular';
        movieContainer.style.display = "flex";
        document.getElementById("container").style.display = "none";
        btt.style.display = "flex";
        watchedButton.style.display = "none";
        ratingInput.style.display = "none";

        initialize();
    }

    function startPersonalRecommendations() {
        mode = 'top_rated';
        movieContainer.style.display = "flex";
        document.getElementById("container").style.display = "none";
        btt.style.display = "flex";
        initialize();
    }

    async function fetchMovieDetails(movieId) {
        const response = await fetch(`https://api.themoviedb.org/3/movie/${movieId}?api_key=${apiKey}&language=en-US`);
        const data = await response.json();
        return data;
    }

    async function fetchPopularMovies() {
        const response = await fetch(`https://api.themoviedb.org/3/movie/${mode}?api_key=${apiKey}&page=1`);
        const data = await response.json();
        return data.results.map(movie => movie.id);
    }

    async function showNextMovie() {
        watchedButton.disabled = false;

        if (currentIndex >= popularMovies.length) {
            if (mode === 'popular') {
                finale.style.display = 'flex';
                movieContainer.style.display = 'none';
                btt.style.display = 'none';
                return;
            } else {
                finale2.style.display = 'flex';
                movieContainer.style.display = 'none';
                btt.style.display = 'none';
                return;
            }
        }

        const movieId = popularMovies[currentIndex];
        const movieDetails = await fetchMovieDetails(movieId);
        const genres = movieDetails.genres.map(genre => genre.name).join(', ');
        const country = movieDetails.production_countries.map(c => c.name).join(',');
        const roundedRating = movieDetails.vote_average.toFixed(1);
        movieContainer.innerHTML = `
            <img src="https://image.tmdb.org/t/p/w500/${movieDetails.poster_path}" alt="${movieDetails.title} Poster">
            <div class="info">
                <h1>${movieDetails.title}</h1>
                <h4>"${movieDetails.tagline}"</h4>
                <h3>${movieDetails.release_date} | ${movieDetails.runtime} min. </h3>
                <h3>${country}</h3>
                <h3>Genres: ${genres}</h3>
                <h3>Rating: ${roundedRating}</h3>
                <p>Description: ${movieDetails.overview}</p>
            </div>
        `;

        currentIndex++;
    }

    nextButton.addEventListener('click', showNextMovie);

    async function initialize() {
        popularMovies = await fetchPopularMovies();
        showNextMovie();
    }

    document.getElementById('watched-form').addEventListener('submit', function(event) {
        event.preventDefault();
        ratingInput.style.display = 'block';

        const movieId = popularMovies[currentIndex - 1];
        document.getElementById('movieIdInput').value = movieId;

        const formData = new FormData(this);
        const rating = formData.get('rating');
        
        if (!rating) {
            alert('Please select a rating before submitting.');
            return;
        }

        fetch(this.action, {
            method: this.method,
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('An error occurred during the request.');
            }
            alert('Successfully added to the watched list!');
            document.querySelector('input[name="rating"]:checked').checked = false;
            watchedButton.disabled = true;
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>

{% endblock %}
