{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css"> 
<link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap" rel="stylesheet">
<title>ГОЛОВНА </title>
{% endblock %}



{% block body %}

<div id="container">
    <h1>Movie recomendation system</h1>    
    <h2> Do you want to get quick recommendations or go to registration and get personalized recommendations?</h2>

    <div class="buttons">
        <button id="button1" class="button-28" onclick="hideButtons()">Quick recommendations</button>
        <button id="button2" class="button-28"  onclick="hideButtons()">Personal recommendations</button>
    </div>
</div>  



<div id="movie-container">
</div>

<div class="btt">
    <button id="watched" class="button-28" >Watched</button>
    <button id="next-button" class="button-28" >Next</button>
</div>



<script>

    function hideButtons() {
        document.getElementById("movie-container").style.display = "flex";
        document.getElementById("container").style.display = "none";
        document.getElementById("next-button").style.display = "flex";
        document.getElementById("watched").style.display = "flex";
    }

    const movieContainer = document.getElementById('movie-container');
    const nextButton = document.getElementById('next-button');
    const apiKey = '7f540cdc422c17adc3781b8227d0b71c';  

    let currentIndex = 0;
    let popularMovies = [];

    async function fetchMovieDetails(movieId) {
        const response = await fetch(`https://api.themoviedb.org/3/movie/${movieId}?api_key=${apiKey}&language=en-US`);
        const data = await response.json();
        return data;
    }

    async function fetchPopularMovies() {
        const response = await fetch(`https://api.themoviedb.org/3/movie/top_rated?api_key=${apiKey}`);
        const data = await response.json();
        return data.results.map(movie => movie.id);
    }

    async function showNextMovie() {
        if (currentIndex >= popularMovies.length) {
            currentIndex = 0;
        }
        const movieId = popularMovies[currentIndex];
        const movieDetails = await fetchMovieDetails(movieId);
        const genres = movieDetails.genres.map(genre => genre.name).join(', ');
        const country = movieDetails.production_countries.map(c => c.name).join(',');
        const roundedRating = movieDetails.vote_average.toFixed(1);
        movieContainer.innerHTML = `
            <img src="https://image.tmdb.org/t/p/w500/${movieDetails.poster_path}" alt="${movieDetails.title} Poster">
            <div class="info">
                <h1>${movieDetails.title}</h1>
                <h4>"${movieDetails.tagline}"</h4>
                <h3>${movieDetails.release_date} | ${movieDetails.runtime} min. </h3>
                <h3>${country}</h3>
                <h3>Genres: ${genres}</h3>
                <h3>Rating: ${roundedRating}</h3>
                <p>Description: ${movieDetails.overview}</p>
            </div>
        `;
        currentIndex++;
    }

    nextButton.addEventListener('click', showNextMovie);

    async function initialize() {
        popularMovies = await fetchPopularMovies();
        showNextMovie();
    }

    initialize();


</script>

{% endblock %}

