{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/my-login.css'%}" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap" rel="stylesheet">
<title>Login</title>
{% endblock %}

{% block body %}

<div class="container">

    <h1 class="title"> Login now! </h1>

    <form class="registerform" method="POST" autocomplete="off">

        {% csrf_token %}

        {{loginform.as_p}}

        <div class="button-28">
            <input type="submit" value="Login">
        </div>


    </form>
    


</div>

    {% endblock %}