{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css'%}" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap" rel="stylesheet">
<title>Profile</title>
{% endblock %}


{% block body %}

<div class="container">


    

    {% if user.is_authenticated %}

        <div class="acc_container">


        <h1>Hello, {{ user.username }}!</h1>
        <h3>Member since {{user.date_joined|date:"M Y"}}</h3>

        <h3>Your id: {{user.id }}</h3>
        <a href="{% url 'user-logout' %}" class="button-28"> Logout here </a>

        </div>
        {% if movies %}
        <h1 class="rec">Recommended Movies</h1>

        <div class="recommendations">
            
            {% for movie in movies %}
                <div class="movie">
                    <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} poster">
                    <h2>{{ movie.title }}</h2>
                
                </div>
            {% endfor %}
            
            {% endif %}
        </div>

    {% else %}

        <div class="no_user">
            <h1>Log in</h1>
            <h2> To receive personalized recommendations and save watch lists, you need to log in to your account. 
                if you don't have an account yet, <br> register as soon as possible  
            </h2>
            
            <div class="buttons">
                <a class="button-28" href="{% url 'register' %}"> Register here </a>s
                <a class="button-28" href="{% url 'my-login' %}"> Login here </a>
            </div>
        </div>

    {% endif %}






    
</div>


{% endblock %}