{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css'%}" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap" rel="stylesheet">
<title>ПРОФІЛЬ</title>
{% endblock %}


{% block body %}

<div class="acc_container">


    {% if user.is_authenticated %}
        <h1>Ви увійшли як {{ user.username }}</h1>
        <a href="{% url 'user-logout' %}"> Logout here </a>
    {% else %}

    <h1>Log in</h1>
    <h3> To receive personalized recommendations and save watch lists, you need to log in to your account. 
        <br>
        if you don't have an account yet, register as soon as possible    </h3>
    
    <div class="buttons">
    <a class="button-28" href="{% url 'register' %}"> Register here </a>s


    <a class="button-28" href="{% url 'my-login' %}"> Login here </a>
    </div>
    {% endif %}

</div>




{% endblock %}