{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/watched.css'%}" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap" rel="stylesheet">
<title>Watched</title>
{% endblock %}


{% block body %}




{% if user.is_authenticated %}
    <h1 class="title"> List of watched movies </h1>

    <div id="movieContainer"></div>


    {% else %}
    <div class="acc_container">

        <h1>Log in</h1>
        <h3> To receive personalized recommendations and save watch lists, you need to log in to your account. 
            <br>
            if you don't have an account yet, register as soon as possible    </h3>
        
        <div class="buttons">
            <a class="button-28" href="{% url 'register' %}"> Register here </a>s


            <a class="button-28" href="{% url 'my-login' %}"> Login here </a>
        </div>
    </div>



    {% endif %}



<script>
    
    const movieContainer = document.getElementById('movieContainer');
    const apiKey = '7f540cdc422c17adc3781b8227d0b71c';      

    async function fetchMovieDetails(movieIds) {
    const movieDetailsPromises = movieIds.map(async movieId => {
        const response = await fetch(`https://api.themoviedb.org/3/movie/${movieId}?api_key=${apiKey}&language=en-US`);
        return response.json();
    });

    return Promise.all(movieDetailsPromises);
    }

    async function showAllMovies() {

        const userMovies = JSON.parse("{{ user_movies_json|escapejs }}");

        console.log(userMovies)
        const movieIds = userMovies.map(movie => movie.fields.movie_id);

        console.log(movieIds)

        const movieDetails = await fetchMovieDetails(movieIds);

        movieContainer.innerHTML = movieDetails.map(movie => {
            return `
                <div class="movie">
                    <img src="https://image.tmdb.org/t/p/w500/${movie.poster_path}" alt="${movie.title} Poster">
                    <h1>${movie.title}</h1>
                </div>
            `;
        }).join('');
    }

    showAllMovies();

</script>



{% endblock %}