
body{
    background: url(/static/image/theatre.jpg);
    background-size: cover;
    
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    color: rgb(255, 196, 0);
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 1000;
    filter: drop-shadow(0px 10px 3px #9d9a00);
    margin-bottom: 10px;
}

.container h2 {
    color: rgb(167, 33, 0);
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 800;
    width: 1000px;
    text-align: center;
   
}