main {
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 10px;
}

.container{
    margin-top: 100px;
    max-width: 350px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);    padding: 25px 30px;
    border-radius: 20px;
    border: 3px solid #fbff0098;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}


.container .title {
    font-size: 25px;
    font-weight: 500;
    color: #fff;

}

.registerform {
    margin: 20px 0 0 0;
}

.registerform p {
    color: #fff;
    margin-bottom: 15px;
    width: 100%;
}

.registerform p label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}


.registerform p input[type="text"], input[type="password"] {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.button-28 input[type="submit"]{
    height: 100%;
    width: 100%;

    background-color: transparent;
    color: rgb(255, 255, 255);

    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-28:hover  input[type="submit"]{
    font-family: "Bruno Ace SC", sans-serif;
    color: rgb(255, 196, 0);
} 



.button-28 {
    width: 100%;
    display: flex;
    justify-content: center;   
    margin: 5px 0;
}