.acc_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;

}

.acc_container h3 {
    margin-top: 50px;
    color: rgb(167, 33, 0);
    font-weight: 800;
    text-align: center;
}

.acc_container h1, h2 {
    color: rgb(255, 196, 0);
    font-weight: 1000;
    filter: drop-shadow(0px 10px 3px #9d9a00);

}

.acc_container .buttons {
    margin-top: 50px;
}

.recommendations{
    display: flex;
    flex-direction: row;
}

.recommendations h1, .recommendations h2{
    color: #fff;
    font-size: 20px;
}

.recommendations img{

width: 100px;
}